# project data
data
saved_models
threshold_map
models_info
custom_norm
learned_zones
corr_indices
results
metric_curves
.ipynb_checkpoints

# dataset and files
simulate_models*.csv
dataset

# python cache
.python-version
__pycache__

# by default avoid model files and png files
saved_models
*.png
!saved_models/*.png
.vscode
